<footer>
  <div class="container footer-content">
    <p>
      © 2025 Jessica L. Bitter • 
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons Lizenzvertrag" style="border-width:0"
             src="https://licensebuttons.net/l/by/4.0/88x31.png" />
      </a>
      <br>
      This work is licenced under 
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        Creative Commons Namensnennung 4.0 International Lizenz
      </a>.
    </p>
    Contact Me: 
    <a href="mailto:jessicalaura.bitter@hs-rm.de">Email Me</a>     
    <a href="https://www.linkedin.com/in/jessica-l-bitter-766922224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
  </div>
</footer>
